<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.haiersmart.sfcontrol">
    <application
        android:name=".application.ControlApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:persistent="true"
        android:theme="@style/AppTheme.NoActionBar">
        <service
            android:name=".service.ControlMainBoardService"
            android:enabled="true"
            android:exported="true"/>

        <activity android:name=".ui.FactoryStatusActivity">
             <intent-filter>
                 <!--<action android:name="android.intent.action.MAIN" />-->
                 <!--<category android:name="android.intent.category.LAUNCHER" />-->
                 <action android:name="FactoryStatusActivity" />
             <category android:name="android.intent.category.DEFAULT" />
             </intent-filter>
        </activity>
        <activity android:name=".ui.DebugActivity">
             <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />
                 <action android:name="DebugActivity" />
                 <!--<category android:name="android.intent.category.DEFAULT" />-->
             </intent-filter>
        </activity>

        <activity android:name=".ui.CameraMipiActivity"></activity>
        <activity android:name=".ui.CameraUsbActivity"></activity>

        <receiver android:name=".receiver.BootCompletedReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>



        <receiver android:name=".receiver.ControlCommandReceiver">
            <intent-filter>
                <action android:name="com.haiersmart.sfcontrol.command"/>
                <action android:name="com.haier.tft.control.pcb"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.haier.tft.wifimodule.wifimodule.CommandDataReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.haier.tft.control.broadcast" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA" />

</manifest>